/* criando variaveis para cores predefinidas para a página */
:root {
    --red:#E50014;
    --black:#141414;
}

/* reseta todas configurações predefinidas na DOM */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evita romper o largura da caixa fazendo com que o elementos se espremam */
}

/* elementos base */
body {
    font-family: 'Arial', Times, serif;
    background: var(--black);
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;

    font-size: 40px;
    font-family: 'Arial Black', Times, serif;
    color: var(--red);
}

header nav a {
    margin-right: 10px;

    text-decoration: none;
    color: #AAA;
}

header nav a:hover {
    color: #FFF;
}

/* filme principal */
.main-movie {
    height: 530px;

    display: flex;
    flex-direction: column;
    justify-content: center; /* segue a mesma direção do flex-direction */
    align-items: flex-start;

    font-size: 16px;

    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/eternals.jpg'); /* linear-gradient adiciona uma camada de sombra para texto ficar legivel */
    background-size: cover; /* pega a area de cobertura da caixa */
}

.movie-name {
    margin-top: 15%;

    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.main-movie .movie-description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.button {
    margin-right: 15px;
    padding: 15px 15px;
    
    font-size: 12px;
    
    color: white;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    cursor: pointer;
    transition: .3s ease all;
}

.button:hover {
    color: var(--black);
    background-color: white;  
}

.button i {
    margin-right: 8px;
}

.main-movie .container {
    width: 70%;
}

.box-filme {
    width: 100%;
    height: 100%;
    
    display: block;   
}

.movies-carousel {
    margin-top: 5px;
}


/* css modal */

.modal {
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;

    background-color: rgba(0,0,0,.50);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid var(--red);
    background-color: var(--black);
}

.modal-header {
    padding: 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    margin-left: 36rem;
    padding: .5rem .5rem;

    font-size: x-large;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.modal-body,
.modal-body #movie-trailer  {
    width: 100%; 
    height: 400px; 

    border: none;
}

.movie-age {
    border: 1px solid #FFF;
}

.modal-body .movie-details {
    margin-bottom: 1rem;
    padding: .5rem;

    display: flex;
    align-items: center;
    
    background-color: #222425;
}

.modal-body .movie-details span{
    margin: 0 2.4rem;
}

.modal-body .movie-details span a {
    color: #FFF;
    text-decoration: none;
}

.grid-container-directors {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container-actors {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-actors .grid-item,
.grid-container-directors .grid-item {
    padding: .5rem;

    font-size: 15px;
    text-align: center;
}

